<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<form action="/items" method="post">
    <h1 class="title">Форма добавления чего-либо</h1>
    <label>Name</label>
    <input type="text" name="name" placeholder="Name">
    <label>Description</label>
    <input type="text" name="description" placeholder="Description">
    <label>Value</label>
    <input type="text" name="value" placeholder="Value">
    <input type="submit" value="Create Item">
</form>
<h1 class="title">Когда мало фантазии, отображается содержимое</h1>
<div th:if="${items.isEmpty() == false}">
    <table class="table-class">
        <tr class="row-main">
            <td>Наименование</td>
            <td>Описание</td>
            <td>Количество</td>
        </tr>
        <tr th:each="item:${items}">
            <td th:text="${item.name}">NAME</td>
            <td th:text="${item.description}">DESCRIPTION</td>
            <td th:text="${item.value}">VALUE</td>
        </tr>
    </table>
</div>
<div th:if="${items.isEmpty() == true}">
    У вас ничего нет, попробуйте добавить что-то
</div>
</body>
</html>